.mainDiv {
    max-width: 75%;
    height: 400px;
}

.left {
    width: 50%;
}

hr {
    max-width: 70%;
}

img {
    width: 30px;
    height: 30px;
}

.left {
    background: linear-gradient(45deg, #9c58aa, #435397);
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

input {
    background: none;
    height: 40px;
}

textarea {
    background: none;
}

.inputSubmit {
    background-color: #8a1777;
    color: white;
    width: 125px;
    height: 45px;
    border-radius: 5px;
}

.leftheading {
    color: white;
}