.footerMainDiv {
    background-color: rgb(99, 132, 161);
    border-radius: 20px;
    color: white;
}

ul {
    list-style: none;
    cursor: pointer;
}

.footerImage {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
}

.contactUs {
    margin-left: 50px;
}